.idea/dataSources.local.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/workspace.xml
.idea/ProConDuck.iml
ProConDuck/Lib/
ProConDuck/__pycache__/
ProConDuck/tcl/
blog/__pycache__/
venv/
.gitignore
/db.sqlite3