.idea/dataSources.local.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/workspace.xml
ProConDuck/Lib/
ProConDuck/__pycache__/
ProConDuck/tcl/
blog/__pycache__/
blog/migrations/__pycache__/
templates/
venv/
.gitignore
