boto>=2.49.0
Django>=3.1.4
django-boto>=0.3.12
django-storages>=1.6.5
python-dotenv>=0.15.0
easy-thumbnails>=2.7.1
gunicorn>=20.0.4
olefile>=0.46
Pillow>=8.1.0
psycopg2>=2.7.1
python-dateutil>=2.8.1
requests>=2.25.1
urllib3>=1.26.2
whitenoise>=5.2.0
