boto==2.47.0
certifi==2017.4.17
chardet==3.0.4
Django==1.11.3
django-braces==1.11.0
django-model-utils==3.0.0
django-star-ratings==0.5.6
gunicorn==19.7.1
heroku==0.1.4
heroku3==3.3.0
idna==2.5
olefile==0.44
Pillow==4.2.0
psycopg2==2.7.1
python-dateutil==2.6.0
pytz==2017.2
requests==2.18.1
simplejson==3.3.1
six==1.10.0
urllib3==1.21.1
whitenoise==3.3.0
