{% extends "blog/base.html" %}
{% block title %}About - ProConDuck{% endblock %}
{% block left_content %}
    <div class="single_page">
        <ol class="breadcrumb">
            <li><a href="">Home</a></li>
            <li>
                <a href="#">{{ review.product.category.name }}</a>
            </li>
        </ol>
        <h1>About</h1>
        <p>So somehow you’ve stumbled upon our humble website. Let me tell you
            a bit about the philosophy and functions of ProConDuck. </p>

        <p>We’ve always been people to thoroughly check reviews and deals
            before purchasing products, and decided that there was a need for
            a centralized reviewer hub. That’s why why we created a centralized
            space to simplify your shopping experience. Here, shoppers can look
            through categories that interest them and browse through a wide
            selection of product reviews. We take pride in reviewing even the
            newest and most promising brands in the market so that you can be
            exposed to underrated products at great value. In addition, we
            strive to offer exclusive deals that can only be found on our site,
            and even more exclusive deals through the email newsletter.</p>

        <p>ProConDuck began as a project for learning and experimentation over
            the summer. Now, ProConDuck is a thriving community of consumers
            and companies that we hope will continue to grow.</p>
    </div>
{% endblock %}