{% extends 'blog/base.html' %}
{% block title %}Reviews - ProConDuck{% endblock %}
{% block left_content %}
<div class="single_post_content">
<h2><span>Reviews</span></h2>
{% if reviews %}
    <ul class="spost-nav">
        {% for review in reviews|slice:":7" %}
            <li>
                <div class="media review-list" style="position: relative;"><a href="{% url 'blog:review' review.id review.slug %}"><span class="clickable-div-span"></span></a>
                    <a href="{% url 'blog:review' review.id review.slug %}"
                                      class="media-left">
                    <img alt="{{ review.title }}"
                         src="{{ review.image_thumb_url }}">
                </a>
                    <div class="media-body">
                        <a href="{% url 'blog:review' review.id review.slug %}"
                                               class="catg_title"> {{ review.title }}</a>
                        <br/>{% include "blog/include/star_rating.html" with score=review.score size="12" %} {{ review.score }}
                        | {{ review.reviewer }} | {{ review.created.date }}<br />{{ review.review|striptags|truncatechars:200 }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <ul class="spost_nav" id="show-more" style="display: none;">
        {% for review in reviews|slice:"8:" %}
            <li>
                <div class="media review-list" style="position: relative;"><a href="{% url 'blog:review' review.id review.slug %}"><span class="clickable-div-span"></span></a>
                    <a href="{% url 'blog:review' review.id review.slug %}"
                                      class="media-left">
                    <img alt="{{ review.title }}"
                         src="{{ review.image_thumb_url }}">
                </a>
                    <div class="media-body">
                        <a href="{% url 'blog:review' review.id review.slug %}"
                                               class="catg_title"> {{ review.title }}</a>
                        <br/>{% include "blog/include/star_rating.html" with score=review.score size="12" %} {{ review.score }}
                        | {{ review.reviewer }} | {{ review.created.date }}<br />{{ review.review|striptags|truncatechars:200 }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a id="toggle-show-more" onclick="(function () {
    var x = document.getElementById('show-more');
    if (x.style.display === 'none') {
        x.style.display = 'block';
        document.getElementById('toggle-show-more').innerHTML = 'Show Less';
    } else {
        x.style.display = 'none';
        document.getElementById('toggle-show-more').innerHTML = 'Show More';
    }
})()" class="btn btn-theme">Show More</a>
{% else %}
    <p>No reviews available.</p>
{% endif %}
</div>
{% endblock %}
{% block right_content %}
    {% include "blog/include/filter.html" with action="all_reviews" %}
    {% include "blog/include/top_rated_products.html" %}
{% endblock %}
