<!DOCTYPE html>
{% load staticfiles %} {% load static %}
<html>
<head>
    <link rel="apple-touch-icon" sizes="57x57"
          href="{% static 'blog/images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60"
          href="{% static 'blog/images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72"
          href="{% static 'blog/images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76"
          href="{% static 'blog/images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{% static 'blog/images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{% static 'blog/images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{% static 'blog/images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152"
          href="{% static 'blog/images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'blog/images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'blog/images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'blog/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{% static 'blog/images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'blog/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
          content="{% static 'blog/images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="ProConDuck,reviews,honest{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block meta-description %}ProConDuck is a community of consumers and companies and a centralized space for technology product reviews on the web.{% endblock %}">
    <title>{% block title %}ProConDuck{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="BH0bG2oSD2ErmnVSXKGzpVybiLCfcw7jeM4Mqw9_6AY" />
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/NewsFeed/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/NewsFeed/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/NewsFeed/css/animate.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/NewsFeed/css/font.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/NewsFeed/css/li-scroller.css' %}"
          media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/NewsFeed/css/slick.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/NewsFeed/css/jquery.fancybox.css' %}"
          media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/NewsFeed/css/theme.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/NewsFeed/css/style.css' %}" media="screen"/>
    <!--[if lt IE 9]>
<script src="{% static 'blog/assets/NewsFeed/js/html5shiv.min.js' %}"></script>
<script src="{% static 'blog/assets/NewsFeed/js/respond.min.js' %}"></script>
<![endif]-->
{% block more_style %} {% endblock %}
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
    <header id="header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header_top">
                    <div class="header_top_left">
                        <ul class="top_nav">
                            <li><a href="{% url 'blog:main' %}">Home</a></li>
                            <li><a href="{% url 'blog:about' %}">About</a></li>
                            <li><a href="{% url 'blog:contact' %}">Contact</a></li>
                        </ul>
                    </div>
{% comment %}                    <div class="header_top_right">
                        <ul class="top_nav" style="text-align: right;">
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>{% endcomment %}
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header_bottom">
                    <div class="logo_area"><a href="{% url 'blog:main' %}" class="logo"><img
                            src="{% static 'blog/images/logo.png' %}"
                            width="176.55" height="100" alt="ProConDuck"></a>
                    </div>
                    <div class="add_banner"><a href="{{ ads.ThemeForest.link }}" target="_blank"><img class="img-add"
                            src="{{ ads.ThemeForest.image.url }}" alt="ProConDuck Sponsor"></a></div>
                </div>
            </div>
        </div>
    </header>
    <section id="navArea">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar"><span
                        class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav main_nav">
                {% if request.path == "/blog/" %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{% url 'blog:main' %}"><span
                            class="fa fa-home desktop-home"></span><span
                            class="mobile-show">Home</span></a></li>
                {% if request.path == "/blog/all-products/" %}
                    <li class="dropdown active">
                {% else %}
                    <li class="dropdown">
                {% endif %}
                        <a href="{% url 'blog:all_products' %}">Products&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                                <li><a href="{% url 'blog:all_products' %}?category={{ category.slug }}&sort_by=Most+reviews">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% if request.path == "/blog/all-reviews/" %}
                    <li class="dropdown active">
                {% else %}
                    <li class="dropdown">
                {% endif %}
                    <a href="{% url 'blog:all_reviews' %}">Reviews&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                            {% for category in categories %}
                                <li><a href="{% url 'blog:all_reviews' %}?category={{ category.slug }}&sort_by=Most+viewed">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% if request.path == "/blog/promotions/" %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{% url 'blog:promotions' %}">Deals</a></li>
                {% if request.path == "/blog/faq/" %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{% url 'blog:faq' %}">Faq</a></li>
                {% if request.path == "/blog/contact-us/" %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{% url 'blog:contact' %}">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <section id="newsSection">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="latest_newsarea">
                    <div><span>Don't Miss Out!</span></div>
                        <ul id="ticker01" class="news_sticker">
                            {% if promotions %}
                                {% for promotion in promotions %}
                                    <li>
                                        <a data-toggle="modal" data-target="#myModal{{ promotion.0.id }}">{{ promotion.0.title }}
                                        </a></li>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal{{ promotion.0.id }}" role="dialog">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                            data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title">{{ promotion.0.title }}</h4>
                                                </div>
                                                <div class="modal-body" style="font-family: 'Signika', sans-serif; font-size: 14px; font-weight: normal;">
                                                    <p>Code: {{ promotion.0.code }} - <a href="{{ promotion.1 }}" target="_blank" style="color: black;">Use on Amazon</a></p>
                                                </div>
                                                <div class="modal-footer">
                                                {% if request.path != '/blog/promotions/' %}
                                                    <a href="{% url 'blog:promotions' %}" class="btn btn-theme a-modal" style="margin-bottom: 0;">All deals</a>
                                                {% endif %}
                                                <a href="{% url 'blog:product' promotion.0.product.id promotion.0.product.slug %}" class="btn btn-default a-modal">Product</a>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <li><a href="#">No promotions currently
                                    available.</a>
                                    {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
                                        &emsp;
                                    {% endfor %}</li>
                            {% endif %}
                        </ul>
                    <div class="social_area">
                        <ul class="social_nav">
{#                            <li class="facebook"><a href="https://www.facebook.com/ProConDuck/" target="_blank"></a></li>#}
                            <li class="youtube"><a href="https://www.youtube.com/channel/UCp7ll6UKy6w1pZGtv8-3lnw" target="_blank"></a></li>
                            <li class="mail"><a href="mailto:support@proconduck.com"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% block content %}
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                {% block left_content %}{% endblock %}
                </div>
            </div>
            {% block nav %}{% endblock %}
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    {% block right_content %}
                        {% block sidebar_before %}{% endblock %}
                    <div class="single_sidebar">
                        <h2><span>Popular Reviews</span></h2>
                        <ul class="spost_nav">
                            {% for review in popular_review_list|slice:":5" %}
                                <li>
                                    <div class="media"><a
                                            href="{% url 'blog:review' review.id review.slug%}"
                                            class="media-left"> <img alt="{{ review.product.name }}"
                                                                     src="{{ review.image_thumb_url }}">
                                    </a>
                                        <div class="media-body"><a
                                                href="{% url 'blog:review' review.id review.slug %}"
                                                class="catg_title">{{ review.title }}</a>
                                            <br/>
                                            {% include "blog/include/star_rating.html" with score=review.score size="12" %}{{ review.score }}
                                            <br/>{{ review.created.date }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% block category_sponsor %}{% endblock %}
                    {% endblock %}
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
    <footer id="footer">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget">
                        <h2>Never miss an exclusive discount</h2>
                        <form action="{% url 'blog:signup' %}" method="post"
                              class="contact_form">
                            {% csrf_token %}
                            <input class="form-control" type="text" name="name"
                                   placeholder="First Name" required>
                            <input class="form-control" type="email"
                                   name="email" placeholder="Email" required>
                            <input type="submit" value="Sign Up">
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget">
                        <h2>Become a Reviewer</h2>
                        <p class="reviewerseller">Try the latest technology and
                            get awesome perks! Email us at <a
                                    href="mailto:support@proconduck.com">support@proconduck.com</a>
                            or contact us <a href="{% url 'blog:contact' %}">here</a>.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget">
                        <h2>Join as a Seller</h2>
                        <p class="reviewerseller">Feel like your products
                            aren't getting the attention they deserve? We'll
                            help you stand out - email us at <a
                                    href="mailto:support@proconduck.com">support@proconduck.com</a>
                            or contact us <a href="{% url 'blog:contact' %}">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <p class="copyright">Copyright &copy; 2017 <a href="{% url 'blog:main' %}">ProConDuck</a></p>
            <p class="developer"><a href="{% url 'blog:ethics' %}">Ethics</a> | <a href="{% url 'blog:tos' %}">Terms of Service</a> | <a
                    href="{% url 'blog:privacy' %}">Privacy Policy</a></p>
        </div>
    </footer>
</div>
<script src="{% static 'blog/assets/NewsFeed/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/assets/NewsFeed/js/wow.min.js' %}"></script>
<script src="{% static 'blog/assets/NewsFeed/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/assets/NewsFeed/js/slick.min.js' %}"></script>
<script src="{% static 'blog/assets/NewsFeed/js/jquery.li-scroller.1.0.js' %}"></script>
<script src="{% static 'blog/assets/NewsFeed/js/jquery.newsTicker.min.js' %}"></script>
<script src="{% static 'blog/assets/NewsFeed/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'blog/assets/NewsFeed/js/custom.js' %}"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-97587291-2', 'auto');
    ga('send', 'pageview');
</script>
{% block more-script %}{% endblock %}
</body>
</html>