{% extends "blog/list_items.html" %}
{% block list_items %}
{% if products %}
    <ul class="photograph_nav wow fadeInDown">
    {% for product in products %}
        <li>
            <div class="photo_grid">
                <figure class="effect-layla"><a class="fancybox-buttons" data-fancybox-group="button" href="{% url 'blog:product' product.slug %}" title="{{ product.name }}"> <img src="{{ product.image.url }}" alt=""/></a></figure>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    No products in {{ item.name }} category.
{% endif %}
{% endblock %}
