{% extends "blog/base.html" %}
{% load staticfiles %} {% load static %}
{% block more_style %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/Platz/css/style.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300" media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Pacifico" media="screen"/>
{% endblock %}
{% block content %}
<div id="wrapper-navbar">
		<div class="navbar object">
    		<div id="wrapper-sorting">
            <div id="wrapper-title-1">
            <div class="top-rated object">Top-rated</div>
            	<div id="fleche-nav-1"></div>
    		</div>

            <div id="wrapper-title-2">
            <a href="#"><div class="recent object">Recent</div></a>
                <div id="fleche-nav-2"></div>
    		</div>

            <div id="wrapper-title-3">
            <a href="#"><div class="oldies object">Oldies</div></a>
                <div id="fleche-nav-3"></div>
    		</div>
            </div>
            <div id="wrapper-bouton-icon">
            	<div id="bouton-ai"><img src="{% static 'blog/assets/Platz/css/img/icon-ai.svg' %}" alt="illustrator" title="Illustrator" height="28" width="28"></div>
            	<div id="bouton-psd"><img src="{% static 'blog/assets/Platz/css/img/icon-psd.svg' %}" alt="photoshop" title="Photoshop" height="28" width="28"></div>
            	<div id="bouton-theme"><img src="{% static 'blog/assets/Platz/css/img/icon-themes.svg' %}" alt="theme" title="Theme" height="28" width="28"></div>
            	<div id="bouton-font"><img src="{% static 'blog/assets/Platz/css/img/icon-font.svg' %}" alt="font" title="Font" height="28" width="28"></div>
            	<div id="bouton-photo"><img src="{% static 'blog/assets/Platz/css/img/icon-photo.svg' %}" alt="photo" title="Photo" height="28" width="28"></div>
            	<div id="bouton-premium"><img src="{% static 'blog/assets/Platz/css/img/icon-premium.svg' %}" alt="premium" title="Premium" height="28" width="28"></div>
			</div>
    	</div>
    </div>

<!-- FILTER -->

	<div id="main-container-menu" class="object">
    	<div class="container-menu">

            <div id="main-cross">
            	<div id="cross-menu"></div>
            </div>

            <div id="main-small-logo">
            	<div class="small-logo"></div>
            </div>

            <div id="main-premium-ressource">
                <div class="premium-ressource"><a href="#">Premium resources</a></div>
            </div>

            <div id="main-themes">
                <div class="themes"><a href="#">Latest themes</a></div>
            </div>

            <div id="main-psd">
                <div class="psd"><a href="#">PSD goodies</a></div>
            </div>

            <div id="main-ai">
                <div class="ai"><a href="#">Illustrator freebies</a></div>
            </div>

            <div id="main-font">
                <div class="font"><a href="#">Free fonts</a></div>
            </div>

            <div id="main-photo">
                <div class="photo"><a href="#">Free stock photos</a></div>
            </div>

        </div>
    </div>


<!-- PORTFOLIO -->

	<div id="wrapper-container">

		<div class="container object">

			<div id="main-container-image">

					<section class="work">

						<figure class="white">
							<a href="details.html">
								<img src="{% static 'blog/assets/Platz/css/img/psd-4.jpg' %}" alt="" />
								<dl>
									<dt>Wordpress theme</dt>
									<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-psd.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Wordpress theme</div>
							</div>
                        </figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/font-1.jpg' %}" alt="" />
								<dl>
									<dt>Free font</dt>
									<dd>Bavro is a minimal free font best suitable for posters and headlines. Designed and released by Marcelo Melo.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-font.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Free font</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/psd-1.jpg' %}" alt="" />
								<dl>
									<dt>PSD Goodies</dt>
									<dd>A set of high resolution iPhone 6 and Nexus 5 mockups created with smart objects. Free PSD released by Ghani Pradita.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-psd.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">PSD Goodies</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/psd-2.jpg' %}" alt="" />
								<dl>
									<dt>PSD Goodies</dt>
									<dd>A set of 4 free photorealistic Nexus 5 mockups providing smart objects. Free PSD released by Craftwork.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-psd.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">PSD Goodies</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/ai-1.jpg' %}" alt="" />
								<dl>
									<dt>Illustrator freebies</dt>
									<dd>A set of 6 outline beer icons created with Adobe Illustrator. Free Ai designed and released by Justas Galaburda.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-ai.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Illustrator Freebies</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/theme-2.jpg' %}" alt="" />
								<dl>
									<dt>Html theme</dt>
									<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-themes.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Html theme</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/psd-3.jpg' %}" alt="" />
								<dl>
									<dt>PSD goodies</dt>
									<dd>A set of 9 high-quality Apple Watch mockups created with Photoshop smart objects. Free PSD released by Samuel Medvedowsky.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-psd.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">PSD Goodies</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/font-2.jpg' %}" alt="" />
								<dl>
									<dt>Free font</dt>
									<dd>Beyno is a free uppercase font with a futuristic feel and look. Designed and released by Fabian Korn.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-font.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Free font</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/font-3.jpg' %}" alt="" />
								<dl>
									<dt>Wordpress theme</dt>
									<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-font.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Wordpress theme</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/ai-2.jpg' %}" alt="" />
								<dl>
									<dt>Illustrator icons</dt>
									<dd>A set of 16 outline space icons created with Adobe Illustrator. Free Ai designed and released by Justas Galaburda.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-ai.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Illustrator icons</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/icons-1.jpg' %}" alt="" />
								<dl>
									<dt>PSD icons</dt>
									<dd>Grap is a set of 9 simple but coloured icons created with Photoshop. Free PSD released by kamran bhatti.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-psd.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">PSD icons</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/ui-1.jpg' %}" alt="" />
								<dl>
									<dt>UI design</dt>
									<dd>Acess to our largest database of the web about the ui and look into a ton of professionnal tools</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-premium.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Premium ui</div>
							</div>
						</figure>

                        <figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/font-5.jpg' %}" alt="" />
								<dl>
									<dt>Free font</dt>
									<dd>A set of 6 outline beer icons created with Adobe Illustrator. Free Ai designed and released by Justas Galaburda.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-font.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Free font</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/theme-2.jpg' %}" alt="" />
								<dl>
									<dt>Html theme</dt>
									<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-themes.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Html theme</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/psd-5.jpg' %}" alt="" />
								<dl>
									<dt>PSD mockup</dt>
									<dd>A very detailed Macbook Air mockup created with Photoshop and providing smart objects. Free PSD released by Barin Cristian.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-psd.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">PSD mockup</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/icons-3.jpg' %}" alt="" />
								<dl>
									<dt>PSD icons</dt>
									<dd>A set of 16 hand gestures icons you may find useful for your projects. Free PSD released by Rovane Durso.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-psd.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">PSD icons</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/font-4.jpg' %}" alt="" />
								<dl>
									<dt>Free font</dt>
									<dd>Julep is an elegant and modern free font released in vector formats (Ai, EPS and PDF). Designed and released by Jeremy Ross.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-font.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Free font</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/theme-3.jpg' %}" alt="" />
								<dl>
									<dt>HTML theme</dt>
									<dd>Gorgo is a free HTML portfolio template for freelancers, photographers, agencies, designers and other creative fields. Designed and released by Aristothemes.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-themes.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">HTML theme</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/font-6.jpg' %}" alt="" />
								<dl>
									<dt>Free font</dt>
									<dd>REEF is a rounded font free for commercial and personal use. It's strength lies in simplicity and construction.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-font.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">Free font</div>
							</div>
						</figure>

						<figure class="white">
							<a href="#">
								<img src="{% static 'blog/assets/Platz/css/img/theme-4.jpg' %}" alt="" />
								<dl>
									<dt>HTML theme</dt>
									<dd>ActiveBox is a free responsive HTML template featured by clean and minimalistic design. Designed and coded by Kamal Chaneman.</dd>
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div class="part-info-image"><img src="{% static 'blog/assets/Platz/css/img/icon-themes.svg' %}" alt="" width="28" height="28"/></div>
                            	<div id="part-info">HTML theme</div>
							</div>
						</figure>

					</section>

				</div>

			</div>

    <div id="wrapper-oldnew">
    	<div class="oldnew">
        	<div class="wrapper-oldnew-prev">
            	<div id="oldnew-prev"></div>
        	</div>
            <div class="wrapper-oldnew-next">
            	<div id="oldnew-next"></div>
    		</div>
        </div>
	</div>
{% endblock %}