{% extends "blog/base.html" %}
{% block keywords %},{{ category.name }}{% endblock %}
{% block title %}{{ category.name }} - ProConDuck{% endblock %}
{% block left_content %}
<div class="single_post_content">
<h2><span>{{ category.name }}</span></h2>
{% if products %}
    <ul class="photograph_nav wow fadeInDown">
    {% for product in products %}
        <li>
            <div class="photo_grid">
                <figure class="effect-layla">
                    <a class="fancybox-buttons" data-fancybox-group="button" href="{% url 'blog:product' product.slug %}">
                        <div class="product-overlay"><div>{{ product.name }}<br />
                        {% if product.review_set.count > 0 %}
                        {% include "blog/star_rating.html" with score=product.score size="15" %}
                            {% if product.review_set.count > 5 %}
                                ({{ product.review_set.count }})
                            {% endif %}<br />
                        {{ product.score }}
                        {% endif %}
                        </div></div>
                        <img src="{{ product.image.url }}" alt=""/></a></figure>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    No products in {{ category.name }} category.
{% endif %}
</div>
{% endblock %}
{% block right_content %}
    <aside>
        <div class="single_sidebar">
        <h2><span>Sponsor</span></h2>
        <a class="sideAdd" href="{{ ads.World.link }}" target="_blank"><img
                src="{{ ads.World.image.url }}"
                alt=""></a></div>
    </aside>
{% endblock %}
