{% extends "blog/base.html" %}

{% block title %}Contact Us - ProConDuck{% endblock %}

{% block left_content %}
    <div class="contact_area">
        <h2>Contact Us</h2>
        <p>Have a question? Contact us here. We will get back to you within one
            to three business days.</p>
        <form action="{% url 'blog:contact_submit' %}" class="contact_form"
        method="post">
            {% csrf_token %}
            <input class="form-control" type="text" required
                   placeholder="Name*" name="name">
            <input class="form-control" type="email" required
                   placeholder="Email*" name="email">
            <textarea class="form-control" cols="30" rows="10" required
                      placeholder="Message*" name="message"></textarea>
            <input type="submit" value="Send Message">
        </form>
    </div>
{% endblock %}
