<!DOCTYPE html>
<html>
{% load staticfiles %} {% load static %}
<head>
    <link rel="apple-touch-icon" sizes="57x57"
          href="{% static 'blog/images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60"
          href="{% static 'blog/images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72"
          href="{% static 'blog/images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76"
          href="{% static 'blog/images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{% static 'blog/images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{% static 'blog/images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{% static 'blog/images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152"
          href="{% static 'blog/images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'blog/images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'blog/images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'blog/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{% static 'blog/images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'blog/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
          content="{% static 'blog/images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <title>Contact Us | Pro Con Duck</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/css/animate.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/css/font.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/css/li-scroller.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/css/slick.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/css/jquery.fancybox.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/css/theme.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/assets/css/style.css' %}">
    <!--[if lt IE 9]>
<script src="{% static 'blog/assets/js/html5shiv.min.js' %}"></script>
<script src="{% static 'blog/assets/js/respond.min.js' %}"></script>
<![endif]-->
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
    <header id="header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header_top">
                    <div class="header_top_left">
                        <ul class="top_nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="header_top_right">
                        <p>{{ date.weekday }}, {{ date.month }} {{ date.date }}, {{ date.year }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header_bottom">
                    <div class="logo_area"><a href="../" class="logo"><img
                            src="{% static 'blog/images/logo.png' %}"
                            width="176.55" height="100" alt="Pro Con Duck"></a>
                    </div>
                    <div class="add_banner"><a href="#"><img
                            src="{% static 'blog/images/addbanner_728x90_V1.jpg' %}"
                            alt=""></a></div>
                </div>
            </div>
        </div>
    </header>
    <section id="navArea">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar"><span
                        class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav main_nav">
                    <li class="active"><a href="../"><span
                            class="fa fa-home desktop-home"></span><span
                            class="mobile-show">Home</span></a></li>
                    {% for category in categories %}
                        <li><a href="#">{{ category.name }}</a></li>
                    {% endfor %}
                    {% comment %}          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mobile</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Android</a></li>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">Nokia</a></li>
              <li><a href="#">Walton Mobile</a></li>
              <li><a href="#">Sympony</a></li>
            </ul>
          </li>{% endcomment %}
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="../error404">404 Page</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <section id="newsSection">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="latest_newsarea"><span>Don't Miss Out!</span>
                    <ul id="ticker01" class="news_sticker">
                        <li><a href="#"><img
                                src="{% static 'blog/images/news_thumbnail3.jpg' %}"
                                alt="">My First News Item</a></li>
                        <li><a href="#"><img
                                src="{% static 'blog/images/news_thumbnail3.jpg' %}"
                                alt="">My Second News Item</a></li>
                        <li><a href="#"><img
                                src="{% static 'blog/images/news_thumbnail3.jpg' %}"
                                alt="">My Third News Item</a></li>
                        <li><a href="#"><img
                                src="{% static 'blog/images/news_thumbnail3.jpg' %}"
                                alt="">My Four News Item</a></li>
                        <li><a href="#"><img
                                src="{% static 'blog/images/news_thumbnail3.jpg' %}"
                                alt="">My Five News Item</a></li>
                        <li><a href="#"><img
                                src="{% static 'blog/images/news_thumbnail3.jpg' %}"
                                alt="">My Six News Item</a></li>
                        <li><a href="#"><img
                                src="{% static 'blog/images/news_thumbnail3.jpg' %}"
                                alt="">My Seven News Item</a></li>
                        <li><a href="#"><img
                                src="{% static 'blog/images/news_thumbnail3.jpg' %}"
                                alt="">My Eight News Item</a></li>
                        <li><a href="#"><img
                                src="{% static 'blog/images/news_thumbnail2.jpg' %}"
                                alt="">My Nine News Item</a></li>
                    </ul>
                    <div class="social_area">
                        <ul class="social_nav">
                            <li class="youtube"><a href="#"></a></li>
                            <li class="mail"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                    <div class="contact_area">
                        <h2>Contact Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labolore
                            magna aliqua. Ut enim ad minim veniam. Lorem ipsum
                            dosectetur adipisicing elit, sed do.Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.</p>
                        <form action="#" class="contact_form">
                            <input class="form-control" type="text"
                                   placeholder="Name*">
                            <input class="form-control" type="email"
                                   placeholder="Email*">
                            <textarea class="form-control" cols="30" rows="10"
                                      placeholder="Message*"></textarea>
                            <input type="submit" value="Send Message">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    <div class="single_sidebar">
                        <h2><span>Popular Reviews</span></h2>
                        <ul class="spost_nav">
                            <li>
                                <div class="media wow fadeInDown"><a
                                        href="../{{ review.id }}"
                                        class="media-left"> <img alt=""
                                                                 src="{% static 'blog/images/post_img1.jpg' %}">
                                </a>
                                    <div class="media-body"><a
                                            href="../{{ review.id }}"
                                            class="catg_title"> Aliquam
                                        malesuada diam eget turpis varius 1</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media wow fadeInDown"><a
                                        href="../{{ review.id }}"
                                        class="media-left"> <img alt=""
                                                                 src="{% static 'blog/images/post_img2.jpg' %}">
                                </a>
                                    <div class="media-body"><a
                                            href="../{{ review.id }}"
                                            class="catg_title"> Aliquam
                                        malesuada diam eget turpis varius 2</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media wow fadeInDown"><a
                                        href="../{{ review.id }}"
                                        class="media-left"> <img alt=""
                                                                 src="{% static 'blog/images/post_img1.jpg' %}">
                                </a>
                                    <div class="media-body"><a
                                            href="../{{ review.id }}"
                                            class="catg_title"> Aliquam
                                        malesuada diam eget turpis varius 3</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media wow fadeInDown"><a
                                        href="../{{ review.id }}"
                                        class="media-left"> <img alt=""
                                                                 src="{% static 'blog/images/post_img2.jpg' %}">
                                </a>
                                    <div class="media-body"><a
                                            href="../{{ review.id }}"
                                            class="catg_title"> Aliquam
                                        malesuada diam eget turpis varius 4</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget wow fadeInLeftBig">
                        <h2>Never miss an exclusive discount</h2>
                        <form action="{% url 'blog:signup' %}" method="post"
                              class="contact_form">
                            {% csrf_token %}
                            <input class="form-control" type="text"
                                   placeholder="First Name*">
                            <input class="form-control" type="email"
                                   placeholder="Email*">
                            <input type="submit" value="Sign Up">
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget wow fadeInDown">
                        <h2>Become a Reviewer</h2>
                        <p class="reviewerseller">Try the latest technology and
                            get awesome perks! Email us at <a
                                    href="mailto:proconduck@gmail.com">proconduck@gmail.com</a>
                            or contact us <a href="contact-us">here</a>.</p>
                        {% comment %}            <ul class="tag_nav">
              <li><a href="#">Games</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Fashion</a></li>
            </ul>{% endcomment %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget wow fadeInRightBig">
                        <h2>Join as a Seller</h2>
                        <p class="reviewerseller">Feel like your products
                            aren't getting the attention they deserve? We'll
                            help you stand out - email us at <a
                                    href="mailto:proconduck@gmail.com">proconduck@gmail.com</a>
                            or contact us <a href="contact-us">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <p class="copyright">Copyright &copy; 2017 <a href="#">Pro Con
                Duck</a></p>
            <p class="developer"><a href="#">Terms of Service</a> | <a
                    href="#">Privacy Policy</a></p>
        </div>
    </footer>
</div>
<script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/assets/js/wow.min.js' %}"></script>
<script src="{% static 'blog/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/assets/js/slick.min.js' %}"></script>
<script src="{% static 'blog/assets/js/jquery.li-scroller.1.0.js' %}"></script>
<script src="{% static 'blog/assets/js/jquery.newsTicker.min.js' %}"></script>
<script src="{% static 'blog/assets/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'blog/assets/js/custom.js' %}"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-97587291-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>