{% extends 'blog/base.html' %}
{% block title %}Ethics - ProConDuck{% endblock %}

{% block left_content %}
    <div class="single_page_content" style="padding-top: 0;">
        <h1>Ethics Statement</h1>
        <h3>Product Reviews</h3>
        <p>Certain products featured on our website are provided to ProConDuck
        free of charge by the respective manufacturer for the express purpose
        of reviewing such products. We are under no obligation to provide
        favorable reviews or endorsements of these products. ProConDuck retains
        full editorial control over the content on our website. We occasionally
        accept monetary compensation from manufacturers to provide reviews as a
            necessary means to make our business sustainable.
        </p>
        <h3>Deals</h3>
        <p>We list exclusive ProConDuck promotions on our
        <a href="{% url 'blog:promotions' %}">deals site</a>. We strive to only
        list deals from reputable sellers and ban any seller that we receive
            consistently poor feedback about.</p>
        <h3>Affiliate Marketing</h3>
        <p>ProConDuck is a participant in the Amazon Services LLC Associates
        Program, an affiliate advertising program designed to provide a
        means for sites to earn advertising fees by advertising and linking
        to Amazon.com. ‌We utilize affiliate marketing on this website as a
        necessary means to make our business sustainable. If you purchase
        through certain links that we provide, ProConDuck may earn a referral
        commission. The bottom line is that the small commissions that we may
        receive through the use of affiliate links do not affect how we review
            products.</p>
    </div>
{% endblock %}
