{% extends "blog/base.html" %}
{% block title %}{{ item.name }} - ProConDuck{% endblock %}
{% load staticfiles %}{% load static %}
{% block left_content %}
<div class="single_post_content">
<h2><span>{{ item.name }}</span></h2>
{% block list_items %}{% endblock %}
</div>
{% endblock %}
{% block right_content %}
    <aside>
        <div class="single_sidebar wow fadeInDown">
        <h2><span>Sponsor</span></h2>
        <a class="sideAdd" href="{{ ads.World.link }}" target="_blank"><img
                src="{{ ads.World.image.url }}"
                alt=""></a></div>
    </aside>
{% endblock %}
