{% extends "blog/base.html" %}
{% load staticfiles %} {% load static %}
{% block content %}

    <section id="sliderSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="slick_slider">
                    {% if featured_reviews %}
                        {% for review in featured_reviews %}
                            <div class="single_iteam"><a
                                    href="{{ review.id }}/{{ review.slug }}">
                                <img src="{% static review.image %}"
                                     alt=""></a>
                                <div class="slider_article">
                                    <h2><a class="slider_tittle"
                                           href="{{ review.id }}/{{ review.slug }}">{{ review.title }}
                                        - {{ review.product }}</a></h2>
                                    <p>{{ review.review }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="single_iteam"><a href="#"> <img
                                src="{% static review.image %}" alt=""></a>
                            <div class="slider_article">
                                <h2><a class="slider_tittle"
                                       href="{{ review.id }}/{{ review.slug }}">No
                                    Reviews</a></h2>
                                <p>We're sorry; there are no featured reviews
                                    available.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="latest_post">
                    <h2><span>Top Rated Products</span></h2>
                    <div class="latest_post_container">
                        <div id="prev-button"><i class="fa fa-chevron-up"></i>
                        </div>
                        <ul class="latest_postnav">
                            {% for product in top_rated_products|slice:":5" %}
                                <li>
                                    <div class="media"><a href="#"
                                                          class="media-left">
                                        <img alt=""
                                             src="{% static product.image %}">
                                    </a>
                                        <div class="media-body"><a href="#"
                                                                   class="catg_title"> {{ product.name }}</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div id="next-button"><i
                                class="fa  fa-chevron-down"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                    <div class="single_post_content">
                        <h2><span>Popular Reviews</span></h2>
                        <div class="single_post_content_left">
                            <ul class="business_catgnav  wow fadeInDown">
                                <li>
                                    <figure class="bsbig_fig"><a
                                            href="{{ popular_review_list.0.id }}/{{ popular_review_list.0.slug }}"
                                            class="featured_img"> <img alt=""
                                                                       src="{% static popular_review_list.0.image %}">
                                        <span class="overlay"></span> </a>
                                        <figcaption><a
                                                href="{{ popular_review_list.0.id }}/{{ popular_review_list.0.slug }}">{{ popular_review_list.0.title }}
                                            - {{ popular_review_list.0.product }} {{ popular_review_list.0.views }} Views</a>
                                        </figcaption>
                                        <p>{{ popular_review_list.0.created.date }}
                                            | {{ popular_review_list.0.review }}</p>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                        <div class="single_post_content_right">
                            <ul class="spost_nav">
                                {% for review in popular_review_list|slice:"1:" %}
                                    <li>
                                        <div class="media wow fadeInDown"><a
                                                href="{{ review.id }}/{{ review.slug }}"
                                                class="media-left"> <img alt=""
                                                                         src="{% static review.image %}">
                                        </a>
                                            <div class="media-body"><a
                                                    href="{{ review.id }}/{{ review.slug }}"
                                                    class="catg_title">{{ review.title }}
                                                - {{ review.product }}<br/>{{ review.created.date }}
                                            </a></div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="fashion_technology_area">
                        <div class="fashion">
                            <div class="single_post_content">
                                <h2><span>{{ categories.0.name }}</span></h2>
                                <ul class="business_catgnav wow fadeInDown">
                                    <li>
                                        <figure class="bsbig_fig"><a
                                                href="{{ display_categories.0.0.0.id }}/{{ display_categories.0.0.0.slug }}"
                                                class="featured_img"> <img
                                                alt=""
                                                src="{% static display_categories.0.0.0.image %}">
                                            <span class="overlay"></span> </a>
                                            <figcaption><a
                                                    href="{{ display_categories.0.0.0.id }}/{{ display_categories.0.0.0.slug }}">{{ display_categories.0.0.0.title }}
                                                - {{ display_categories.0.0.0.product }}</a>
                                            </figcaption>
                                            <p>{{ display_categories.0.0.0.created.date }}
                                                | {{ display_categories.0.0.0.review }}</p>
                                        </figure>
                                    </li>
                                </ul>
                                <ul class="spost_nav">
                                    {% for review in display_categories.0|slice:"1:" %}
                                        <li>
                                            <div class="media wow fadeInDown">
                                                <a href="{{ review.0.id }}/{{ review.0.slug }}"
                                                   class="media-left"> <img
                                                        alt=""
                                                        src="{% static review.0.image %}">
                                                </a>
                                                <div class="media-body"><a
                                                        href="{{ review.0.id }}/{{ review.0.slug }}"
                                                        class="catg_title"> {{ review.0.title }}
                                                    - {{ review.0.product }}<br/>{{ review.0.created.date }}
                                                </a></div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="technology">
                            <div class="single_post_content">
                                <h2><span>{{ categories.1.name }}</span></h2>
                                <ul class="business_catgnav">
                                    <li>
                                        <figure class="bsbig_fig wow fadeInDown">
                                            <a href="{{ display_categories.1.0.0.id }}/{{ display_categories.1.0.0.slug }}"
                                               class="featured_img"> <img
                                                    alt=""
                                                    src="{% static display_categories.1.0.0.image %}">
                                                <span class="overlay"></span>
                                            </a>
                                            <figcaption><a
                                                    href="{{ display_categories.1.0.0.id }}/{{ display_categories.1.0.0.slug }}">{{ display_categories.1.0.0.title }}
                                                - {{ display_categories.1.0.0.product }}</a>
                                            </figcaption>
                                            <p>{{ display_categories.1.0.0.created.date }}
                                                | {{ display_categories.1.0.0.review }}</p>
                                        </figure>
                                    </li>
                                </ul>
                                <ul class="spost_nav">
                                    {% for review in display_categories.1|slice:"1:" %}
                                        <li>
                                            <div class="media wow fadeInDown">
                                                <a href="{{ review.0.id }}/{{ review.0.slug }}"
                                                   class="media-left"> <img
                                                        alt=""
                                                        src="{% static review.0.image %}">
                                                </a>
                                                <div class="media-body"><a
                                                        href="{{ review.0.id }}/{{ review.0.slug }}"
                                                        class="catg_title">{{ review.0.title }}
                                                    - {{ review.0.product }}<br/>{{ review.0.created.date }}
                                                </a></div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% comment %}<div class="single_post_content">
            <h2><span>{{ categories.2.name }}</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav">
                <li>
                  <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="{{ display_categories.2.0.0.id }}/{{ display_categories.2.0.0.slug }}"> <img src="{% static display_categories.2.0.0.image %}" alt=""> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{ display_categories.2.0.0.id }}/{{ display_categories.2.0.0.slug }}">{{ display_categories.2.0.0.title }} - {{ display_categories.2.0.0.product }}</a> </figcaption>
                      <p>{{ display_categories.2.0.0.created.date }} | {{ display_categories.2.0.0.review }}</p>
                  </figure>
                </li>
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                {% for review in display_categories.2|slice:"1:" %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{{ review.0.id }}/{{ review.0.slug }}" class="media-left"> <img alt="" src="{% static review.0.image %}"> </a>
                    <div class="media-body"> <a href="{{ review.0.id }}/{{ review.0.slug }}" class="catg_title">{{ review.0.title }} - {{ review.0.product }}<br/>{{ review.0.created.date }}</a> </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>{% endcomment %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    <div class="single_sidebar">
                        <h2><span>Latest Reviews</span></h2>
                        <ul class="spost_nav">
                            {% for review in latest_review_list %}
                                <li>
                                    <div class="media wow fadeInDown"><a
                                            href="{{ review.id }}/{{ review.slug }}"
                                            class="media-left"> <img alt=""
                                                                     src="{% static review.image %}">
                                    </a>
                                        <div class="media-body"><a
                                                href="{{ review.id }}/{{ review.slug }}"
                                                class="catg_title">{{ review.title }}
                                            - {{ review.product }}<br/>{{ review.created.date }}
                                        </a></div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% comment %}          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                  {% if categories %}
                <ul>
                  {% for category in categories %}
                  <li class="cat-item"><a href="#">{{ category.name }}</a></li>
                  {% endfor %}
                </ul>
                  {% else %}
                      No categories yet.
                  {% endif %}
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/QWJW5yYN0zU?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="{{ review.id }}/{{ review.slug }}" class="media-left"> <img alt="" src="{% static 'blog/images/post_img1.jpg' %}"> </a>
                      <div class="media-body"> <a href="{{ review.id }}/{{ review.slug }}" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="{{ review.id }}/{{ review.slug }}" class="media-left"> <img alt="" src="{% static 'blog/images/post_img2.jpg' %}"> </a>
                      <div class="media-body"> <a href="{{ review.id }}/{{ review.slug }}" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="{{ review.id }}/{{ review.slug }}" class="media-left"> <img alt="" src="{% static 'blog/images/post_img1.jpg' %}"> </a>
                      <div class="media-body"> <a href="{{ review.id }}/{{ review.slug }}" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="{{ review.id }}/{{ review.slug }}" class="media-left"> <img alt="" src="{% static 'blog/images/post_img2.jpg' %}"> </a>
                      <div class="media-body"> <a href="{{ review.id }}/{{ review.slug }}" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>{% endcomment %}
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Categories</span></h2>
                        {% if categories %}
                            <ul>
                                {% for category in categories %}
                                    <li class="cat-item"><a
                                            href="#">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No categories yet.
                        {% endif %}
                    </div>
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Sponsor</span></h2>
                        <a class="sideAdd" href="#"><img
                                src="{% static 'blog/images/add_img.jpg' %}"
                                alt=""></a></div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}