{% extends "blog/base.html" %}
{% block title %}ProConDuck | Find Reviews from Fellow Consumers{% endblock %}
{% load staticfiles %} {% load static %}
{% block content %}

    <section id="sliderSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="slick_slider">
                    {% if featured_reviews %}
                        {% for review in featured_reviews %}
                            <div class="single_iteam"><a title="{{ review.product }}"
                                    href="{% url 'blog:review' review.slug %}">
                                <img src="{{ review.image.url }}"
                                     alt=""></a>
                                <div class="slider_article">
                                    <h2><a class="slider_tittle" title="{{ review.product }}"
                                           href="{% url 'blog:review' review.slug %}">{{ review.title }}</a></h2>
                                    <p>{{ review.review|striptags|truncatechars:290 }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="single_iteam">
                            <div class="slider_article">
                                <h2><a class="slider_tittle"
                                       href="#">No
                                    Reviews</a></h2>
                                <p>We're sorry; there are no featured reviews
                                    available.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="latest_post">
                    <h2><span>Top Rated Products</span></h2>
                    <div class="latest_post_container">
                        <div id="prev-button"><i class="fa fa-chevron-up"></i>
                        </div>
                        <ul class="latest_postnav">
                            {% for product in top_rated_products|slice:":5" %}
                                <li>
                                    <div class="media"><a href="{% url 'blog:product' product.slug %}"
                                                          class="media-left">
                                        <img alt=""
                                             src="{{ product.image.url }}">
                                    </a>
                                        <div class="media-body"><a href="{% url 'blog:product' product.slug %}"
                                                                   class="catg_title"> {{ product.name }}</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div id="next-button"><i
                                class="fa fa-chevron-down"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                    <div class="single_post_content">
                        <h2><span>Popular Reviews</span></h2>
                        <div class="single_post_content_left">
                            <ul class="business_catgnav  wow fadeInDown">
                                <li>
                                    {% if popular_review_list %}
                                    <figure class="bsbig_fig"><a
                                            href="{{ popular_review_list.0.id }}/{{ popular_review_list.0.slug }}"
                                            class="featured_img" title="{{ popular_review_list.0.product }}">
                                        <img alt="" src="{{ popular_review_list.0.image.url }}">
                                        <span class="overlay"></span> </a>
                                        <figcaption><a
                                                href="{{ popular_review_list.0.id }}/{{ popular_review_list.0.slug }}" title="{{ popular_review_list.0.product }}">{{ popular_review_list.0.title }}</a>
                                        </figcaption>
                                        <p>{{ popular_review_list.0.reviewer }} | {{ popular_review_list.0.created.date }}<br/>
                                           {{ popular_review_list.0.review|striptags|truncatechars:200 }}</p>
                                    </figure>
                                    {% else %}
                                        No reviews available.
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="single_post_content_right">
                            <ul class="spost_nav">
                                {% for review in popular_review_list|slice:"1:" %}
                                    <li>
                                        <div class="media wow fadeInDown"><a
                                                href="{% url 'blog:review' review.slug %}"
                                                class="media-left" title="{{ review.product }}">
                                            <img alt="" src="{{ review.image.url }}">
                                        </a>
                                            <div class="media-body"><a href="{% url 'blog:review' review.slug %}"
                                                    class="catg_title" title="{{ review.product }}">{{ review.title }}<br/>{{ review.created.date }}
                                            </a></div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="fashion_technology_area">
                        <div class="fashion">
                            <div class="single_post_content">
                                <h2><span>{{ display_categories_names.0.name }}</span></h2>
                                <ul class="business_catgnav wow fadeInDown">
                                    <li>
                                        {% if display_categories.0.0.0 %}
                                        <figure class="bsbig_fig"><a
                                                href="{{ display_categories.0.0.0.id }}/{{ display_categories.0.0.0.slug }}"
                                                class="featured_img" title="{{ display_categories.0.0.0.product }}">
                                            <img alt="" src="{{ display_categories.0.0.0.image.url }}">
                                            <span class="overlay"></span> </a>
                                            <figcaption><a
                                                    href="{{ display_categories.0.0.0.id }}/{{ display_categories.0.0.0.slug }}" title="{{ display_categories.0.0.0.product }}">{{ display_categories.0.0.0.title }}</a>
                                            </figcaption>
                                            <p>{{ display_categories.0.0.0.reviewer }}
                                                | {{ display_categories.0.0.0.created.date }}
                                                <br/>{{ display_categories.0.0.0.review|striptags|truncatechars:130 }}</p>
                                        </figure>
                                        {% else %}
                                            No reviews available.
                                        {% endif %}
                                    </li>
                                </ul>
                                <ul class="spost_nav">
                                    {% for review in display_categories.0|slice:"1:" %}
                                        <li>
                                            <div class="media wow fadeInDown">
                                                <a href="{{ review.0.id }}/{{ review.0.slug }}"
                                                   class="media-left"> <img
                                                        alt=""
                                                        src="{{ review.0.image.url }}">
                                                </a>
                                                <div class="media-body"><a title="{{ review.0.product }}"
                                                        href="{{ review.0.id }}/{{ review.0.slug }}"
                                                        class="catg_title"> {{ review.0.title }}<br/>{{ review.0.created.date }}
                                                </a></div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="technology">
                            <div class="single_post_content">
                                <h2><span>{{ display_categories_names.1.name }}</span></h2>
                                <ul class="business_catgnav">
                                    <li>
                                        {% if display_categories.1.0.0 %}
                                        <figure class="bsbig_fig wow fadeInDown">
                                            <a href="{{ display_categories.1.0.0.id }}/{{ display_categories.1.0.0.slug }}"
                                               class="featured_img" title="{{ display_categories.1.0.0.product }}">
                                                <img alt="" src="{{ display_categories.1.0.0.image.url }}">
                                                <span class="overlay"></span>
                                            </a>
                                            <figcaption><a title="{{ display_categories.1.0.0.product }}"
                                                    href="{{ display_categories.1.0.0.id }}/{{ display_categories.1.0.0.slug }}">{{ display_categories.1.0.0.title }}</a>
                                            </figcaption>
                                            <p>{{ display_categories.1.0.0.reviewer }}
                                                | {{ display_categories.1.0.0.created.date }}<br/>
                                                {{ display_categories.1.0.0.review|striptags|truncatechars:130 }}</p>
                                        </figure>
                                        {% else %}
                                            No reviews available.
                                        {% endif %}
                                    </li>
                                </ul>
                                <ul class="spost_nav">
                                    {% for review in display_categories.1|slice:"1:" %}
                                        <li>
                                            <div class="media wow fadeInDown">
                                                <a href="{{ review.0.id }}/{{ review.0.slug }}"
                                                   class="media-left" title="{{ review.0.product }}">
                                                    <img alt="" src="{{ review.0.image.url }}">
                                                </a>
                                                <div class="media-body"><a title="{{ review.0.product }}"
                                                        href="{{ review.0.id }}/{{ review.0.slug }}"
                                                        class="catg_title">{{ review.0.title }}<br/>{{ review.0.created.date }}
                                                </a></div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    <div class="single_sidebar">
                        <h2><span>Latest Reviews</span></h2>
                        <ul class="spost_nav">
                        {% if latest_review_list %}
                            {% for review in latest_review_list %}
                                <li>
                                    <div class="media wow fadeInDown"><a title="{{ review.product }}"
                                            href="{% url 'blog:review' review.slug %}"
                                            class="media-left"> <img alt=""
                                                                     src="{{ review.image.url }}">
                                    </a>
                                        <div class="media-body"><a title="{{ review.product }}"
                                                href="{% url 'blog:review' review.slug %}"
                                                class="catg_title">{{ review.title }}<br/>{{ review.created.date }}
                                        </a></div>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                        No reviews available.
                        {% endif %}
                        </ul>
                    </div>
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Categories</span></h2>
                        {% if categories %}
                            <ul>
                                {% for category in categories %}
                                    <li class="cat-item"><a
                                            href="{% url 'blog:category' category.slug %}">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No categories yet.
                        {% endif %}
                    </div>
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Sponsor</span></h2>
                        <a class="sideAdd" href="{{ ads.World.link }}" target="_blank"><img
                                src="{{ ads.World.image.url }}"
                                alt=""></a></div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}