{% extends "blog/base.html" %}
{% block keywords %},{{ product.name }},{{ product.category }}{% endblock %}
{% block meta-description %}Find honest reviews for {{ product.name }} from {{ product.company.name }}.{% endblock %}
{% block title %}{{ product.name }} - ProConDuck{% endblock %}
{% block left_content %}
<div class="single_post_content">
<h2><span>{{ product.name }}</span></h2>
<table class="table" style="margin-bottom: 0;">
    <tr><th>Product</th><td><a href="{{ links.0.1 }}" target="_blank">{{ product }}</a></td><td rowspan="3" style="width:1px; white-space: nowrap">
    <img class="img-center" height="100" src="{{ product.image.url }}" alt="" />
    </td></tr>
    <tr><th>Company</th><td>{{ product.company }}</td></tr>
    <tr><th>Average Rating</th><td>{{ product.score }} / 5</td></tr>
</table>
<form action="{{ links.0.1 }}" target="_blank"><label>Get the best deal from Amazon today</label><button class="btn btn-theme" style="margin-left: 10px;">Buy Here</button></form>
<p>{% autoescape off %}{{ product.description }}{% endautoescape %}
</p>
<hr/>
{% if reviews1 %}
    <div class="single_post_content_left">
        <ul class="spost_nav">
            {% for review in reviews1 %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{% url 'blog:review' review.slug %}" class="media-left"> <img alt="" src="{{ review.image_thumb_url }}"> </a>
                      <div class="media-body"> <a href="{% url 'blog:review' review.slug %}" class="catg_title">{{ review.title }}</a><br/>{{ review.created.date }}
                        {% if review.score|floatformat:"0" == "1" %}
                                <span>☆</span>
                            {% elif review.score|floatformat:"0" == "2" %}
                                <span>☆</span><span>☆</span>
                            {% elif review.score|floatformat:"0" == "3" %}
                                <span>☆</span><span>☆</span><span>☆</span>
                            {% elif review.score|floatformat:"0" == "4" %}
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            {% elif review.score|floatformat:"0" == "5" %}
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            {% endif %}
                        / {{ review.score }}
                      </div>
                  </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="single_post_content_right">
        <ul class="spost_nav">
            {% for review in reviews2 %}
                <li>
                  <div class="media wow fadeInDown">
                      {% if review.image_thumb_url != review.product.image.url %}
                      <a href="{% url 'blog:review' review.slug %}" class="media-left"> <img alt="" src="{{ review.image_thumb_url }}"> </a>
                      {% endif %}
                    <div class="media-body">
                        <a href="{% url 'blog:review' review.slug %}" class="catg_title">{{ review.title }}<br/>
                        {{ review.created.date }}</a> </div>
                  </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    No reviews for {{ product.name }} product.
{% endif %}
</div>
{% endblock %}
{% block right_content %}
    <aside>
        <div class="single_sidebar wow fadeInDown">
        <h2><span>Sponsor</span></h2>
        <a class="sideAdd" href="{{ ads.World.link }}" target="_blank"><img
                src="{{ ads.World.image.url }}"
                alt=""></a></div>
        <div class="single_sidebar wow fadeInDown">
        <h2><span>Best Deals</span></h2>
        <ul>
            {% for label, link in links %}
            <li>
                <a href="{{ link }}" target="_blank">{{ label }}</a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </aside>
{% endblock %}
