{% extends "blog/list_items.html" %}
{% block keywords %},{{ item.name }},{{ item.category }}{% endblock %}
{% block list_items %}
{% if reviews1 %}
    <div class="single_post_content_left">
        <ul class="spost_nav">
            {% for review in reviews1 %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{% url 'blog:review' review.slug %}" class="media-left"> <img alt="" src="{{ review.image.url }}"> </a>
                    <div class="media-body"> <a href="{% url 'blog:review' review.slug %}" class="catg_title">{{ review.title }}</a> </div>
                  </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="single_post_content_right">
        <ul class="spost_nav">
            {% for review in reviews2 %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{% url 'blog:review' review.slug %}" class="media-left"> <img alt="" src="{{ review.image.url }}"> </a>
                    <div class="media-body"> <a href="{% url 'blog:review' review.slug %}" class="catg_title">{{ review.title }}</a> </div>
                  </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    No reviews for {{ item.name }} product.
{% endif %}
{% endblock %}
