{% extends "blog/base.html" %}
{% block keywords %},discount,coupon,{{ product.name }},{{ product.category.name }},{{ product.company.name }},{{ product.company.name }} {{ product.name }}{% endblock %}
{% block meta-description %}Find honest reviews for {{ product.name }} from {{ product.company.name }}.{% endblock %}
{% block title %}{{ product.company.name }} {{ product.name }} Deals and Reviews - ProConDuck{% endblock %}
{% block left_content %}
<ol class="breadcrumb">
    <li><a href="{% url 'blog:main' %}">Home</a></li>
    <li>
        <a href="{% url 'blog:all_products' %}?category={{ product.category.slug }}&sort_by=Most+reviews">{{ product.category.name }}</a>
    </li>
</ol>
<div class="single_post_content">
<h1>{{ product.company.name }} {{ product.name }}</h1>
<div class="single_post_content_left">
<img class="img img-responsive" src="{{ product.image.url }}" alt="" />
</div>
<div class="single_post_content_right">
<table class="table" style="margin-bottom: 0;">
    <tr><th>Product</th><td><a href="{{ links.0.1 }}" target="_blank">{{ product }}</a></td></tr>
    <tr><th>Company</th><td>{{ product.company }}</td></tr>
    <tr><th>Average Rating</th>
        <td>
            {% if product.review_set.count != 0 %}
            {{ product.score }} / 5 for {{ product.review_set.count }}
                {% if product.review_set.count > 1 %}
                reviews
                {% else %}
                review
                {% endif %}
                on ProConDuck
            {% else %}
            No reviews yet.
            {% endif %}
        </td></tr>
</table>
<form action="{{ links.0.1 }}" target="_blank"><label>Get the best deal from Amazon</label><button class="btn btn-theme" style="margin-left: 10px;">Buy Here</button></form>
    {% if product.promotion_set %}
        {% for promo in product.promotion_set.all %}
            <label>Promotion:</label>
            <a data-toggle="modal" data-target="#myModal{{ promo.id }}">{{ promo.title }}</a>
        {% endfor %}
    {% endif %}
</div>
</div>
<div class="single_post_content">
<p>{% autoescape off %}{{ product.description }}{% endautoescape %}
</p>
</div>
<div class="single_post_content">
<hr/>
{% if reviews1 %}
    <div class="single_post_content_left">
        <ul class="spost_nav">
            {% for review in reviews1 %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{% url 'blog:review' review.slug %}" class="media-left"> <img alt="" src="{{ review.image_thumb_url }}"> </a>
                      <div class="media-body"> <a href="{% url 'blog:review' review.slug %}" class="catg_title">{{ review.title }}</a><br/>{{ review.created.date }}
                        <br />{% include "blog/star_rating.html" with score=review.score size="12" %}
                        {{ review.score }}
                      </div>
                  </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="single_post_content_right">
        <ul class="spost_nav">
            {% for review in reviews2 %}
                <li>
                  <div class="media wow fadeInDown">
                      {% if review.image_thumb_url != review.product.image.url %}
                      <a href="{% url 'blog:review' review.slug %}" class="media-left"> <img alt="" src="{{ review.image_thumb_url }}"> </a>
                      {% endif %}
                    <div class="media-body">
                        <a href="{% url 'blog:review' review.slug %}" class="catg_title">{{ review.title }}<br/>
                        {{ review.created.date }}</a> </div>
                  </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    No reviews for {{ product.name }} product.
{% endif %}
</div>
{% endblock %}
{% block sidebar_before %}
    {% if product.review_set.count > 0 %}
    <div class="single_sidebar wow fadeInDown">
        <h2><span>Reviews</span></h2>
        <ul class="spost_nav">
        {% for review in product.review_set.all %}
        <li>
            <div class="media wow fadeInDown"><a
                    href="{% url 'blog:review' review.slug %}"
                    class="media-left"> <img alt=""
                                             src="{{ review.image_thumb_url }}">
            </a>
                <div class="media-body"><a
                        href="{% url 'blog:review' review.slug %}"
                        class="catg_title">{{ review.title }}</a>
                    <br/>
                    {% include "blog/star_rating.html" with score=review.score size="12" %}{{ review.score }}
                    <br/>{{ review.created.date }}
                </div>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
{% block category_sponsor %}
    <aside>
        <div class="single_sidebar wow fadeInDown">
        <h2><span>Sponsor</span></h2>
        <a class="sideAdd" href="{{ ads.World.link }}" target="_blank"><img
                src="{{ ads.World.image.url }}"
                alt=""></a></div>
        <div class="single_sidebar wow fadeInDown">
        <h2><span>Best Deals</span></h2>
        <ul>
            {% for label, link in links %}
            <li>
                <a href="{{ link }}" target="_blank">{{ label }}</a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </aside>
{% endblock %}
{% block nav %}
    <nav class="nav-slit">
    {% if related_products.0 %}
        <a class="prev"
           href="{% url 'blog:product' related_products.0.slug %}">
            <span class="icon-wrap"><i
                    class="fa fa-angle-left"></i></span>
            <div>
                <h3>{{ related_products.0.name }}</h3>
                <img src="{{ related_products.0.image.url }}"
                     alt=""/></div>
        </a>
    {% endif %}
        {% if related_products.1 %}
            <a class="next"
               href="{% url 'blog:product' related_products.1.slug %}">
            <span class="icon-wrap"><i
                    class="fa fa-angle-right"></i></span>
            <div>
                <h3>{{ related_products.1.name }}</h3>
                <img src="{{ related_products.1.image.url }}"
                     alt="" style="position: relative;"/></div>
        </a>
        {% endif %} </nav>
{% endblock %}
