{% extends 'blog/base.html' %}

{% block left_content %}
    {% if promos1 %}
        <div class="single_post_content">
        <h2><span>ProConDuck Deals</span></h2>
        <div class="single_post_content_left">
            <ul class="spost_nav">
                {% for promo in promos1 %}
                    <li>
                        <div class="media wow fadeInDown"><a
                                href="{% url 'blog:product' promo.0.product.slug %}"
                                class="media-left"> <img alt=""
                                                         src="{{ promo.0.product.image.url }}">
                        </a>
                            <div class="media-body">
                                <strong>{{ promo.0.title }}</strong><br/>
                                <a href="{% url 'blog:product' promo.0.product.slug %}" class="catg_title">{{ promo.0.product }}</a>
                                <br/>
                                <button id="show-code-1-{{ forloop.counter }}" class="btn-theme" onclick="showCode('1-' + {{ forloop.counter }})">See promo code</button>
                                <div id="hidden-code-1-{{ forloop.counter }}" style="display:none;">Code: {{ promo.0.code }} - <a href="{{ promo.1 }}" target="_blank">Use here</a></div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="single_post_content_right">
            <ul class="spost_nav">
                {% for promo in promos2 %}
                    <li>
                        <div class="media wow fadeInDown"><a
                                href="{% url 'blog:product' promo.0.product.slug %}"
                                class="media-left"> <img alt=""
                                                         src="{{ promo.0.product.image.url }}">
                        </a>
                            <div class="media-body"><strong>{{ promo.0.title }}</strong><br/>
                                <a href="{% url 'blog:product' promo.0.product.slug %}" class="catg_title">{{ promo.0.product }}</a>
                                <br/>
                                <button id="show-code-2-{{ forloop.counter }}" class="btn-theme" onclick="showCode('2-' + {{ forloop.counter }})">See promo code</button>
                                <div id="hidden-code-2-{{ forloop.counter }}" style="display:none;">Code: {{ promo.0.code }} - <a href="{{ promo.1 }}" target="_blank">Use here</a></div></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    {% else %}
        No promotions available at the moment.
    {% endif %}
{% endblock %}
{% block more-script %}
<script>
var showCode = function (num) {
    document.getElementById('show-code-'+num).style.display = 'none';
    document.getElementById('hidden-code-'+num).style.display = 'block';
}
</script>
{% endblock %}
