{% extends 'blog/base.html' %}

{% block left_content %}
    {% if promos1 %}
        <div class="single_post_content">
        <div class="single_post_content_left">
            <ul class="spost_nav">
                {% for promo in promos1 %}
                    <li>
                        <div class="media wow fadeInDown"><a
                                href="{% url 'blog:product' promo.product.slug %}"
                                class="media-left"> <img alt=""
                                                         src="{{ promo.product.image.url }}">
                        </a>
                            <div class="media-body"><a
                                    href="#" class="catg_title">
                                {{ promo.title }}<br/>{{ promo.product }}
                            </a>
                                <button id="show-code" class="btn-theme" onclick="(function () {document.getElementById('show-code').style.display = 'none';document.getElementById('hidden-code').style.display = 'block';window.open('{{ promo.link }}');})()">See promo code</button>
                                <div id="hidden-code" style="display:none;">Code: {{ promo.code }}</div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="single_post_content_right">
            <ul class="spost_nav">
                {% for promo in promos2 %}
                    <li>
                        <div class="media wow fadeInDown"><a
                                href="{% url 'blog:product' promo.product.slug %}"
                                class="media-left"> <img alt=""
                                                         src="{{ promo.product.image.url }}">
                        </a>
                            <div class="media-body"><a
                                    href="{{ promo.link }}"
                                    class="catg_title">{{ promo.title }}<br/>{{ promo.company }}
                            </a></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    {% else %}
        No promotions available at the moment.
    {% endif %}
{% endblock %}
