{% extends 'blog/base.html' %}
{% block title %}Deals - ProConDuck{% endblock %}
{% block left_content %}
    {% if promos1 %}
        <div class="single_post_content">
        <h2><span>ProConDuck Deals</span></h2>
        <div class="single_post_content_left">
            <ul class="spost_nav">
                {% for promo in promos1 %}
                    <li>
                        <div class="media wow fadeInDown"><a
                                href="{% url 'blog:product' promo.0.product.slug %}"
                                class="media-left"> <img alt="{{ promo.0.product.name }}"
                                                         src="{{ promo.0.product.image.url }}">
                        </a>
                            <div class="media-body">
                                <a href="{% url 'blog:product' promo.0.product.slug %}" class="catg_title">{{ promo.0.product }}</a><br/>
                                {{ promo.0.title }}
                                <br/>
                                <button class="btn-theme" data-toggle="modal" data-target="#myModal{{ promo.0.id }}">See promo code</button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="single_post_content_right">
            <ul class="spost_nav">
                {% for promo in promos2 %}
                    <li>
                        <div class="media wow fadeInDown"><a
                                href="{% url 'blog:product' promo.0.product.slug %}"
                                class="media-left"> <img alt="{{ promo.0.product.name }}"
                                                         src="{{ promo.0.product.image.url }}">
                        </a>
                            <div class="media-body">
                                <a href="{% url 'blog:product' promo.0.product.slug %}" class="catg_title">{{ promo.0.product }}</a><br/>
                                {{ promo.0.title }}
                                <br/>
                                <button class="btn-theme" data-toggle="modal" data-target="#myModal{{ promo.0.id }}">See promo code</button>
                            </div>
                        </div>
                    </li>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal2-{{ forloop.counter }}" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close"
                                            data-dismiss="modal">&times;
                                    </button>
                                    <h4 class="modal-title">{{ promo.0.title }}</h4>
                                </div>
                                <div class="modal-body" style="font-family: 'Signika', sans-serif; font-size: 14px;">
                                    <p>Code: {{ promo.0.code }} - <a href="{{ promo.1 }}" target="_blank">Use on Amazon</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
        </div>
    {% else %}
        No promotions available at the moment.
    {% endif %}
{% endblock %}
{% block more-script %}
<script>
var showCode = function (num) {
    document.getElementById('show-code-'+num).style.display = 'none';
    document.getElementById('hidden-code-'+num).style.display = 'block';
}
</script>
{% endblock %}
