{% extends "blog/base.html" %}
{% block keywords %},{{ review.title }},{{ review.product.category.name }},{{ review.product.name }},{{ review.product.name }} review,{{ review.keywords }}{% endblock %}
{% block title %}{{ review.title }} - Pro Con Duck{% endblock %}
{% load staticfiles %} {% load static %}
{% block left_content %}
    <div class="single_page">
        <ol class="breadcrumb">
            <li><a href="{% url 'blog:main' %}">Home</a></li>
            <li>
                <a href="{% url 'blog:all_products' %}?category={{ category.slug }}&sort_by=Most+reviews">{{ review.product.category.name }}</a>
            </li>
            <li>
                <a href="{% url 'blog:product' review.product.slug %}">{{ review.product }}</a>
            </li>
        </ol>
        <h1>{{ review.title }}</h1>
        <div class="post_commentbox"><a href="#"><i
                class="fa fa-user"></i>{{ review.reviewer }}</a>
            <span><i class="fa fa-calendar"></i>{{ review.created }}</span>
            <a href="{% url 'blog:all_products' %}?category={{ category.slug }}&sort_by=Most+reviews"><i
                    class="fa fa-tags"></i>{{ review.product.category.name }}
            </a></div>
        <div class="single_page_content">
            <h5 style="display: inline; text-transform: uppercase; color: #9CA3AC; font-size: 14px;">{{ review.reviewer.first_name }}'s Rating:</h5>
        <h4 style="display: inline;">{{ review.score }}</h4>
        {% include "blog/star_rating.html" with score=review.score size="20" %}<br />
            {% if review.product.image.url != review.image_thumb_url or review.video_link %}
            <br/>
            <div class="slick_slider" style="margin-bottom: 10px;">
                {% for image in all_images %}
                    <div class="single_iteam">
                        <a title="{{ image.image.name }}" href="#">
                                    <img src="{{ image.image.url }}"
                                         alt=""></a>
                    </div>
                {% endfor %}
                {% if review.video_link %}
                    <div class="single_iteam">
                        <div style="position: relative; width: 100%; height: 0; padding-bottom: 75%;">
                            <iframe src="{{ review.video_link }}" style="position: absolute; width: 100%;
                            height: 100%; left: 0; top: 0;" frameborder="0" allowFullScreen></iframe>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        <a href="{% url 'blog:product' review.product.slug %}" class="btn btn-theme">View Product</a>
        <a href="{{ links.0.1 }}" target="_blank" class="btn btn-theme">Buy On Amazon</a>
        <div class="single_post_content">
            <div class="single_post_content_left">
                {% if review.pros %}
                <h3><i class="fa fa-thumbs-o-up"></i> Pros</h3>
                <ul>
                {% for pro in review.pros %}
                    <li>{{ pro }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="single_post_content_right">
                {% if review.cons %}
                    <h3><i class="fa fa-thumbs-o-down"></i> Cons</h3>
                <ul>
                {% for con in review.cons %}
                    <li>{{ con }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        {% if review.overall_verdict %}
        <div class="single_post_content">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 20px;">
                <h3 style="margin: 0; text-align: center;">
                    <i class="fa fa-check-circle-o"></i> Overall Verdict
                </h3>
        <p style="margin-top: 10px; margin-bottom: 0; text-align: center;">
                {{ review.overall_verdict }}<br/>
        </p></div>
        </div>
        </div>
        {% endif %}
            <p style="line-height: 170%">{% autoescape off %}{{ review.review }}{% endautoescape %}</p>
        <table class="table">
            <tr><th>Product</th><td><a href="{% url 'blog:product' review.product.slug %}">{{ review.product }}</a></td><td rowspan="3" style="width:1px; white-space: nowrap">
            <a href="{% url 'blog:product' review.product.slug %}"><img class="img-center" height="100" src="{{ review.product.image.url }}" alt="" /></a>
            </td></tr>
            <tr><th>Company</th><td>{{ review.product.company }}</td></tr>
            <tr><th>Average Rating</th><td>{% include "blog/star_rating.html" with score=review.product.score size="12" %}{{ review.product.score }}</td></tr>
        </table>
            <a href="{% url 'blog:product' review.product.slug %}" class="btn btn-theme">View Product</a>
            <a href="{{ links.0.1 }}" target="_blank" class="btn btn-theme">Buy On Amazon</a>
        </div>
        <div class="social_link">
            <ul class="sociallink_nav">
                <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=proconduck.com{{ request.path }}"><i
                            class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/intent/tweet?text={{ review.product }}%20-%20{{ review.title }}&url=https://proconduck.com{{ request.path }}"><i
                            class="fa fa-twitter"></i></a></li>
                <li>
                    <a href="https://plus.google.com/share?url=proconduck.com{{ request.path }}"><i
                            class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=proconduck.com{{ request.path }}&title={{ review.title }}&summary={{ review.review }}&source="><i
                            class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://pinterest.com/pin/create/button/?url=proconduck.com{{ request.path }}&media={{ image_link }}&description={{ review.review }}"><i
                            class="fa fa-pinterest"></i></a>
                </li>
            </ul>
        </div>
        <div class="related_post">
            <h2>Related Reviews </h2>
            <ul class="spost_nav wow fadeInDown animated">
                {% if related_reviews %}
                    {% for review in related_reviews|slice:":3" %}
                        <li>
                            <div class="media"><a title="{{ review.product }}"
                                    class="media-left"
                                    href="{% url 'blog:review' review.slug %}">
                                <img src="{{ review.image_thumb_url }}"
                                     alt=""> </a>
                                <div class="media-body"><a
                                        class="catg_title" title="{{ review.product }}"
                                        href="{% url 'blog:review' review.slug %}">
                                    {{ review.title }}</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>No related reviews available.</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block nav %}
    <nav class="nav-slit">
        {% if related_reviews.0 %}
            <a class="next"
               href="{% url 'blog:review' related_reviews.0.slug %}">
            <span class="icon-wrap"><i
                    class="fa fa-angle-right"></i></span>
            <div style="background-color: #000000;">
                <h3>{{ related_reviews.0.title }}</h3>
                <img src="{{ related_reviews.0.image_thumb_url }}"
                     alt="" style="left: 50%; margin-left: -86px;"/></div>
        </a>
        {% endif %}
        {% if related_reviews.1 %}
        <a class="prev"
           href="{% url 'blog:review' related_reviews.1.slug %}">
            <span class="icon-wrap"><i
                    class="fa fa-angle-left"></i></span>
            <div style="background-color: #000000;">
                <h3>{{ related_reviews.1.title }}</h3>
                <img src="{{ related_reviews.1.image_thumb_url }}"
                     alt="" style=" left: 50%; margin-left: -86px;"/></div>
        </a>
        {% endif %} </nav>
{% endblock %}
{% block sidebar_before %}
    <div class="single_sidebar wow fadeInDown">
        <h2><span>Product</span></h2>
        <div class="media wow fadeInDown"><a
                href="{% url 'blog:product' review.product.slug %}"
                class="media-left"> <img alt=""
                                         src="{{ review.product.image.url }}">
        </a>
            <div class="media-body">{{ review.product.company.name }}<br /><a
                    href="{% url 'blog:review' review.product.slug %}"
                    class="catg_title">{{ review.product.name }}</a>
                <br/>
                {% include "blog/star_rating.html" with score=review.score size="12" %}{{ review.product.score }} ({{ review.product.review_set.count }})
            </div>
        </div>
    </div>
{% endblock %}
{% block category_sponsor %}
    <div class="single_sidebar wow fadeInDown">
        <h2><span>Categories</span></h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li class="cat-item"><a
                            href="{% url 'blog:all_products' %}?category={{ category.slug }}&sort_by=Most+reviews">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No categories yet.
        {% endif %}
    </div>
    {% if review.video_link %}
    <div class="single_sidebar">
        <h2><span>Video</span></h2>
        <div style="position: relative; width: 100%; height: 0; padding-bottom: 56%;">
            <iframe src="{{ review.video_link }}" style="position: absolute; width: 100%;
            height: 100%; left: 0; top: 0;" frameborder="0" allowFullScreen></iframe>
        </div>
    </div>
    {% endif %}
    <div class="single_sidebar wow fadeInDown">
        <h2><span>Sponsor</span></h2>
        <a class="sideAdd" href="{{ ads.World.link }}" target="_blank"><img
                src="{{ ads.World.image.url }}"
                alt=""></a></div>
{% endblock %}